<!--
- (click) = "switchToQuestionPage()" if the button clicked it will call the function in 
ts file so which will basically send an event to parent component
-->
<div class = "bigBox">
    <div class = "box1">
        <h1> Choose Category</h1>
        <select class="form-select" aria-label="Default select example">
            <option selected></option>
            <option  *ngFor = "let category of categoryList">
                {{ category }}
            </option>
        </select> 
    </div>
    <div class = "box2">
        <h1> Choose Difficulty</h1>
        <select class="form-select" aria-label="Default select example">
            <option selected></option>
            <option  *ngFor = "let difficulty of difficulties">
                {{ difficulty }}
            </option>
        </select> 
    </div>

    <div class = "box3">
        <button (click) = "switchToQuestionPage()" class="btn btn-light btn-lg" type="submit">Start</button>
    </div>
</div>


