.body{
    border: 2px ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.container{
    height: 700px;
    width: 700px;
    border-radius: 20%;
    background-image: url("bgGif.gif");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
          
}   

.container h1{
    font-size: xxx-large;
    font-family:'Pacifico', cursive;
    font-style: italic;
    text-align: center;
    padding-top: 10%;
}

.box {
    display: flex;
    justify-content: center;
    padding-top: 20%;
    height: 500px;
}

