<!--
-> 
 (switchPage)="showPage($event)"
 - switchPage is an eventEmitter so whatever even is emitted will be passed to showPage as an argument
 this is used to transition from one component to another
-->
<div class = "body">
 <div class = "container">
      <h1 id = "title"> Dummy Check </h1>
      <div class = "box">
     <app-starting-page 
     *ngIf = "currentPage == 'startPage'"
     (switchPage)="showPage($event)"
     (startQuiz)="startQuiz($event)"
          [categoryList] = "categoryList" 
          [difficulties] = "difficulties">
      </app-starting-page>
      <app-question-page 
      (correctAnswersCount)="updateCorrectAnswers($event)"
      *ngIf = "currentPage == 'questionPage'"
      [selectedCategory]="selectedCategory"
      [selectedDifficulty]="selectedDifficulty"
      (switchPage)="showPage($event)"
      ></app-question-page>
      <app-landing-page
      [correctAnswers]="correctAnswers"
      *ngIf = "currentPage == 'landingPage'"
      (switchPage)="showPage($event)"
      ></app-landing-page>
      </div>
      
  </div>
</div>