<div class = "bigB">
    <div class="question">
        Some Random Question
    </div>
    <div class = "choices">
        <div class = "choice">
            <button class="btn btn-primary custom-button"> Answer</button>
        </div>
        <div class = "choice">
            <button class="btn btn-primary custom-button"> Answer</button>
        </div><div class = "choice">
            <button class="btn btn-primary custom-button">  Answer</button>
        </div>
        
        <div class = "choice">
            <button class="btn btn-primary custom-button"> Answer</button>
        </div>
    
    </div>
</div>
