<!--
- "{'selected': selectedChoice ===1}" -> indicate which class is selected so the DOM updates the class of each button
so one of 4 button will have the class selected (css file button.selected)
- (click) ="selectChoice(1)" if the button is clicked, it will call selectChoice in ts file
-->
<div class = "bigB">
    <div *ngIf = "size > index" class="question">
      <h5>{{questions[index].question}}</h5>  
    </div>
    <div *ngIf = "size == index" class="question">
        {{questions[index-1].question}}
    </div>
    <div  class = "choices">
        <div class = "choice">
            <button 
            class= "btn custom-button"
            [ngClass] = "{'selected': selectedChoice ===1,
            'correct': answerChecked && correctOption === 1,
            'incorrect': answerChecked && wrongChoice === 1}"
            (click)= "selectChoice(1)"
            [disabled]="answerChecked"
            >  <p *ngIf = "correctOption == 1">
                {{questions[index].correct_answer}}
            </p> 
            <p *ngIf = "correctOption != 1">
                {{ questions[index].incorrect_answers[optionIndex] }}
                {{ updateCounter()}}
            </p> </button>
        </div>
        <div class = "choice">
            <button 
            class="btn custom-button"
            [ngClass] = "{'selected': selectedChoice == 2,
            'correct': answerChecked && correctOption === 2,
            'incorrect': answerChecked && wrongChoice === 2}"
            (click) = "selectChoice(2)"
            [disabled]="answerChecked"
            >
            <p *ngIf = "correctOption == 2">
                {{questions[index].correct_answer}}
            </p> 
            <p *ngIf = "correctOption != 2">
                {{ questions[index].incorrect_answers[optionIndex] }}
                {{ updateCounter()}}
            </p> 
        </button>
        </div><div class = "choice">
            <button 
            class="btn  custom-button"
            [ngClass] = "{'selected': selectedChoice == 3,
            'correct': answerChecked && correctOption === 3,
            'incorrect': answerChecked && wrongChoice === 3}"
            (click) = "selectChoice(3)"
            [disabled]="answerChecked"
            >  <p *ngIf = "correctOption == 3">
                {{questions[index].correct_answer}}
            </p> 
            <p *ngIf = "correctOption != 3">
                {{ questions[index].incorrect_answers[optionIndex] }}
                {{ updateCounter()}}
            </p> </button>
        </div>
        
        <div class = "choice">
            <button 
             class="btn custom-button"
             [ngClass] = "{'selected': selectedChoice == 4,
             'correct': answerChecked && correctOption === 4,
             'incorrect': answerChecked && wrongChoice === 4}"
            (click) = "selectChoice(4)"
            [disabled]="answerChecked"
             > <p *ngIf = "correctOption == 4">
                {{questions[index].correct_answer}}
            </p> 
            <p *ngIf = "correctOption != 4">
                {{ questions[index].incorrect_answers[optionIndex] }}
                {{ updateCounter()}}
            </p> </button>
        </div>
    
    </div>

    <div>
        <button 
        *ngIf="!answerChecked" 
        class="btn btn-success" 
        (click)="checkAnswer()"
        >Submit</button>
        <button 
        *ngIf = "answerChecked && size-1 > index"
        class = "btn btn-success"
        (click) = "nextQuestion()"
        >Next Question</button>
        <button 
        *ngIf = "answerChecked && index == size-1"
        class = "btn btn-success"
        (click) = "switchToStartPage()"
        >Finish</button>
    </div>
</div>
